* {
	box-sizing:border-box;
}

.memory_grid {
	display: flex;
	flex-wrap:wrap;
	width: 100%;
	max-width: 1000px;
	margin: 20px auto;
	.entry {

		&_outer {
			flex: 0 0 25%;
			padding-bottom: 33%;
			position: relative;
			&:hover {
				opacity: .5;
			}
		}
		&_padder {
			top: 0;left: 0;
			width: 100%;height: 100%;
			position: absolute;
			padding: 8px;
			perspective:1000px;
		}
		&_inner {
			position: relative;
		    width: 100%;
		    height: 100%;
		    transform-style: preserve-3d;
			img {
				width: 100%;
				height: 100%;
				object-fit:cover;
			}
			.front, .back {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				backface-visibility:hidden;
			}
			.front {
				transform:rotateY(180deg);
			}
			.back {
				z-index: 2;
				background-image: url("https://www.pngkey.com/png/full/349-3492792_card-back.png");
				background-size:cover;
			}
		}


	}
}
.disabled{
	cursor: not-allowed;
	pointer-events:none;
}
.timer{
	background: red;
	width: 50px;
	height: 50px;
	border-radius: 10px;
	position: absolute;
	top: 0;
	right: 100px;
	font-size: 25px;
	z-index: 10;
	text-align: center;
}

.popup {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	display:flex;
	justify-content:center;
	align-items:center;
	pointer-events:none;
	&_cont {
		background-color: White;
		padding: 40px;
	}
}