<div class="container memory_grid js-memory" data-cards="4">
 
 
  <div class="timer js-timer">0</div> 
</div>

<div class="popup">
  <div class="popup_cont">
    <h1>Bravo</h1>
  </div>
</div>


<script id="entry-template" type="text/x-handlebars-template">
  <div class="entry_padder">
  <div class="entry_inner">
    <div class="front">
      <img src="{{image}}" alt="">
    </div>
    <div class="back">
    </div>
  </div>
</div>
</script>

